h1 {
  color: green;
}
ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
a {
  color: white;
}
#logo img {
  width: 100px;
  margin-left: 20px;
}
nav {
  display: flex !important;
  width: 100%;
  margin-top: 10px !important;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
header {
  position: fixed;
  width: 100%;
  background-color: rgb(62, 15, 9);
  padding: 10px !important;
  min-height: 6vh;
}

#hero {
  background: url("/img/photoacceuil.jpg");
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding-top: 9rem; */
  align-items: center;
}
#hero-profil {
  background: url("/img/photoprofil.jpg");
  display: none;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero-compétences {
  background: url("/img/photocompetence.jpg");
  display: none;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero-projets {
  background: url("/img/photoprojets.jpg");
  display: none;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
#hero-contact {
  background: url("/img/photocontact.jpg");
  display: none;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h2 {
  color: red;
  font-size: 150px;
  text-shadow: rgb(0, 255, 68) 1px 0 10px;
  margin-left: 60px;
  padding: 120px;
}
p {
  color: pink;
  text-shadow: rgb(255, 0, 0) 1px 0 10px;
  font-size: 2rem;
  margin-top: 50px;
  padding: 5px;
  margin-left: 30px;
}
#icone-git{
  width: fit-content;
  position: relative;
  top: 30vh;
  left: 3%;
}

#icone-git img {
  height: 150px; 
}

#icone-mail{
  position: relative;
  top: 22vh;
  left: 80%;
  width: fit-content;
}

#icone-mail img {
  height: 120px;
  
}
#icone-in{
  width: fit-content;
  position: relative;
  top: 60vh;
  left: 57%;
}
#icone-in img {
  height: 150px;
  
}
.bienvenue {
  margin: 0px;
  color: rgba(103, 253, 3, 0.966);
  text-shadow: rgb(1, 1, 12) 1px 0 10px;
  font-size: 3rem;
  margin-left: 15px;
}
h {
  font-size: 100px;
}
p1 {
  font-size: 25px;
}

#boutton {
    background: #131416;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50vh;
    left: 58.5vh;
} 
a1{
    color: white;
    font-family: Arial, sans-serif;
    background: black;
    height: 60px;
    width: 250px;
    align-items: center;
    justify-content: center;
    border: 1px solid #892cdc;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: 400;
    z-index: 0;
    position: relative;  
}
a1::before{
    content:'';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #892cdc;
    border-radius: 50% 50% 0 0;
    transition: all .5s;
    z-index:  -1;
} 
a1:hover::before{
    top: 0;
    border-radius: 0;
}

main {
  display: none;
  min-height: 90vh;
  width: 100%;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
}
#imgcompet img {
  position: absolute;
  width: 80vh;
  height: 50vh;
  top: 30vh;
  left: 33vh;
}

@media screen and (max-width: 768px) {
  .bienvenue {
    font-size: 3rem;
  }
  h {
    font-size: 3rem;
  }
  p1 {
    font-size: 2.5rem;
  }
}

#slider {
  position: relative;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10vh;
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

#slide {
  width: 70vh;
  
}

#bouton{
  position: relative;
  width: 15vh;
  top: 50vh;
  height: 10vh;
  font-size: 45px;
  color: white;
  background-color: black;
  border-color: #dc2c2c;
  z-index: 0;
  overflow: hidden;
  
}
#bouton::before{
  content:'';
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e70c55;
  border-radius: 50% 50% 0 0;
  transition: all .5s;
  z-index:  -1;
} 
#bouton:hover::before{
  top: 0;
  border-radius: 0;
}
